In [13]:
import bcb
import datetime
from openpyxl import load_workbook

## Setar informações

In [14]:
# PTAX
ptax_dia = '03/08/2022'

### Adicionar PTAX no Excel

In [15]:
def get_ptax(data):
    ptax = bcb.PTAX().get_endpoint('CotacaoMoedaDia')
    df = (ptax.query().parameters(moeda='USD', dataCotacao=data).collect())
    return { "ptax": df['cotacaoVenda'].values }

ptax = get_ptax(ptax_dia)

In [16]:
# Adicionar dados no Excel
excel_path = 'base.xlsx'
book = load_workbook(excel_path)

# Adicionar na planilha
for col, valor in zip(range(1, 5), ptax):
    book['PTAX'].cell(row=2, column=col, value=valor)

# Salvar arquivo Excel
book.save(datetime.datetime.now().strftime('%d_%m_%Y') + '.xlsx')

### Adicionar Boletim Focus

In [17]:

expec_selic = bcb.Expectativas().get_endpoint('ExpectativasMercadoTop5Anuais')
(expec_selic.query().filter(expec_selic.Indicador == 'Selic', expec_selic.DataReferencia == 2023).orderby(expec_selic.Data.desc()).limit(10).collect())

,Indicador,Data,DataReferencia,tipoCalculo,Media,Mediana,DesvioPadrao,Minimo,Maximo
0,Selic,2023-07-28,2023,C,11.9637,12.0,0.2375,11.25,12.75
1,Selic,2023-07-28,2023,L,11.8500,12.0,0.3000,11.25,12.00
2,Selic,2023-07-27,2023,C,12.0074,12.0,0.2281,11.25,12.75
3,Selic,2023-07-27,2023,L,12.0000,12.0,0.0000,12.00,12.00
4,Selic,2023-07-26,2023,C,12.0124,12.0,0.2263,11.25,12.75
5,Selic,2023-07-26,2023,L,12.0000,12.0,0.0000,12.00,12.00
6,Selic,2023-07-25,2023,C,12.0149,12.0,0.2248,11.25,12.75
7,Selic,2023-07-25,2023,L,12.0000,12.0,0.0000,12.00,12.00
8,Selic,2023-07-24,2023,C,12.0149,12.0,0.2248,11.25,12.75
9,Selic,2023-07-24,2023,L,12.0000,12.0,0.0000,12.00,12.00